@tailwind base;
@tailwind components;
@tailwind utilities;


#mobile-menu {
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);  
    overflow: hidden;
}
 
#mobile-menu.active {
    opacity: 1;
    max-height: 500px;  
    transform: translateY(0);  
}
